PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/daytrail?retryWrites=true&w=majority
MONGODB_TEST_URI=mongodb+srv://<test-username>:<test-password>@<cluster-host>/daytrail_test?retryWrites=true&w=majority
MONGODB_CONNECT_TIMEOUT_MS=10000
MONGODB_PING_TIMEOUT_MS=3000
SESSION_TTL_DAYS=7
AUTH_RATE_LIMIT_WINDOW_MS=900000
AUTH_RATE_LIMIT_MAX=10
R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=<development-access-key-id>
R2_SECRET_ACCESS_KEY=<development-secret-access-key>
R2_BUCKET=daytrail-media-dev
R2_TEST_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_TEST_ACCESS_KEY_ID=<test-access-key-id>
R2_TEST_SECRET_ACCESS_KEY=<test-secret-access-key>
R2_TEST_BUCKET=daytrail-media-test
R2_TIMEOUT_MS=20000
MEDIA_UPLOAD_CONCURRENCY=2
